.app {
  min-height: 100vh;
  background: #130d35;
  color: #f0eeff;
  font-family: 'DM Sans', sans-serif;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
  border-bottom: 1px solid rgba(127,127,213,0.2);
}

.logo {
  font-size: 20px;
  font-weight: 700;
}

.profile {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: #7f7fd5;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* GRID */
.grid {
  display: grid;
  grid-template-columns: 1.2fr 0.8fr 1.2fr;
  grid-template-areas:
    "camera history playlist"
    "player player player";

  gap: 20px;
  padding: 24px 40px;
}

.camera-card { grid-area: camera; }
.history-card { grid-area: history; }
.playlist-card { grid-area: playlist; }
.player-area {
  grid-area: player;
  display: flex;
  justify-content: center;
}

/* CARDS */
.camera-card,
.history-card,
.playlist-card {
  background: rgba(127, 127, 213, 0.08);
  border: 1px solid rgba(127, 127, 213, 0.2);
  border-radius: 16px;
  padding: 16px;
  backdrop-filter: blur(10px);
}

/* CAMERA FIX */
.camera-card video,
.camera-card img {
  width: 100%;
  max-height: 260px;
  object-fit: cover;
  border-radius: 12px;
}

/* HISTORY */
.history-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.history-card h2{
  text-align: center;
}

.history-card ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.history-card li {
  display: flex;
  justify-content: space-between;
  padding: 10px 12px;
  border-radius: 12px;
  background: rgba(255,255,255,0.03);
  margin-bottom: 8px;
}

/* PLAYLIST */
.playlist-card {
  max-height: 320px;
  overflow-y: auto;
}

/* PLAYER */
.player-area {
  margin-top: 10px;
}
/* BUTTON STYLE */
button {
  background: linear-gradient(135deg, #7f7fd5, #a78bfa);
  border: none;
  padding: 8px 14px;
  border-radius: 10px;
  color: white;
  font-weight: 500;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  transform: scale(1.05);
}

/* PREMIUM SHADOW */
.camera-card,
.history-card,
.playlist-card {
  box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}

.camera-card h2,
.camera-card button {
  text-align: center;
}

.camera-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.camera-card button {
  display: block;
  margin: 0 auto;
}